<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>the best hostel in the word</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/sm-core-css.css.css}"/>
    <link rel="stylesheet" th:href="@{/css/sm-clean.css.css}"/>
    <link rel="stylesheet" th:href="@{/css/main1.css}"/>
    <link rel="stylesheet" th:href="@{/css/help.css}"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.smartmenus.min.js}"></script>
    <script>
        $(document).ready(function() {
          $(".deleteR").on("click", function() {
                  var value1 = $(this).attr('href');
                 console.log(value1);
                 $("#delete").show();
                 url1 = value1;
                 console.log("url = "+url1);
                 return false;
          });

          $("#deleteForm").click(function(event) {
                 event.preventDefault();
                 var req = new XMLHttpRequest();
                 req.open("DELETE", "orders/" + url1, false);
                 req.send(null);
                 document.location.href = "profile";
          });
          $("#cancelD").click(function() {
                  $("#delete").hide();
                  return false;
          });



            $(".sm").smartmenus();
            $("#orders1").hide();
            $("#reserves1").hide();
            $("#orders").hide();
            $("#reserves").hide();

            $("#showReserves").click(function(evt) {
                $("#reserves2").hide();
                $("#reserves1").show();
                $("#reserves").fadeIn(1000);

            });

            $("#hideReserves").click(function(evt) {
                $("#reserves1").hide();
                $("#reserves2").show();
                $("#reserves").hide();

            });
            $("#showOrders").click(function(evt) {
                $("#orders2").hide();
                $("#orders1").show();
                $("#orders").fadeIn(1000);

            });

            $("#hideOrders").click(function(evt) {
                $("#orders1").hide();
                $("#orders2").show();
                $("#orders").hide();

            })


        });
    </script>
</head>


<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="three columns">
                    <a href="home.html">
                        <img th:src="@{/images/img/hotel_1_1.png}" class="logo"/>
                    </a>
                    <p class="text">.com</p>
                </div>



                <div class="nine columns">
                    <nav class="nav">
                        <div sec:authorize="!isAuthenticated()">
                            <a th:href="@{/loginForm}" th:text="#{login.button}"></a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <a th:href="@{/logout}" th:text="#{logout.button}"></a>
                        </div>
                        <div sec:authorize="!isAuthenticated()">
                            <a th:href="@{/registration}" th:text="#{register.button}"></a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <a class="current-page" th:href="@{/profile}" th:text="#{cabinet.button}"></a>
                        </div>


                        <a href="#" th:text="#{about}"></a>
                        <a th:href="@{/rooms}" th:text="#{room.button}"></a>
                        <a class="home" th:href="@{/}" th:text="#{main.page}"></a>
                    </nav>
                </div>
            </div>

        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="two columns profile">

            </div>
            <div class="five columns">
               <div class="data profile1">
                    <p th:text="#{login.form.name}"></p>
                   <span th:text="${ user.name }"  />
                </div>
                <div class="data profile1">
                    <p th:text="#{login.form.surname}"></p>
                    <span th:text="${ user.surname }"  />
                </div>
                <div class="data profile1">
                    <p th:text="#{login.form.email}"></p>
                    <span th:text="${ user.email }"  />
                </div>

            </div>
            <div class="five columns">

                <div id="reserves2" class="data profile1">
                    <p th:text="#{my.reserve.button}"></p>
                    <a id="showReserves" class="prof" href="#"><img th:src="@{/images/img/show_1_25X25.png}"></a>
                </div>


                <div id="reserves1" class="data profile1">
                    <p th:text="#{my.reserve.button}"></p>
                    <a id="hideReserves" class="prof" href="#"><img th:src="@{/images/img/hide_1_25X25.png}"></a>
                    <div id="reserves">
                        <div th:each="reserve : ${reserves}" >
                        <div>
                            <img class="img" th:src="@{/images/img1/2.jpg}" width="250" height="150">
                        </div>
                        <p th:text="#{room.number}" class="data"></p>
                            <span th:text="${ reserve.room.number }"  />
                        <p th:text="#{room.price}" class="data"></p>
                            <span th:text="${ reserve.totalPrice }"  /> $
                        <p class="data" th:text="#{date.arrive}"></p>
                            <span th:text="${ reserve.dateIn }"  />
                        <p class="data" th:text="#{date.leave}"></p>
                            <span th:text="${ reserve.dateOut }"  />
                        </div>
                    </div>
                </div>


                <div id="orders2" class="data profile1">
                    <p th:text="#{my.orders.button}"></p>
                    <a id="showOrders" class="prof" href="#"><img th:src="@{/images/img/show_1_25X25.png}"></a>
                </div>



                <div id="orders1" class="data profile1">
                    <p th:text="#{my.orders.button}"></p>
                    <a id="hideOrders" class="prof" href="#"><img th:src="@{/images/img/hide_1_25X25.png}"></a>
                    <div id="orders">
                        <div th:each="order : ${orders}">
                        <div>
                            <img class="img" th:src="@{/images/img1/2.jpg}" width="250" height="150">
                        </div>
                        <p class="data" th:text="#{room.number}"></p>
                            <span th:text="${ order.room.number }"  />
                        <p class="data" th:text="#{room.price}"></p>
                            <span th:text="${ order.totalPrice }"  /> $
                        <p class="data" th:text="#{date.arrive}"></p>
                            <span th:text="${ order.dateIn }"  />
                        <p class="data" th:text="#{date.leave}"></p>
                            <span th:text="${ order.dateOut }"  />
                        <p class="more"><a th:text="#{delete}"class="deleteR" th:href="@{{id}(id=${order.id})}"></a></p>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
      <div class=" container chooseDateDialog1" id="delete" title="Chose dates" hidden>
                        <div id="hide" class="row">
                            <p th:text="#{delete.order}"></p>
                            <div>
                               <a id="cancelD" th:text="#{cancel}" class="previous" href="#"></a>
                               <a id="deleteForm" class="makeorder" href="75" th:text="#{delete}"></a>
                            </div>
                        </div>
         </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <p id="text">Foot</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>