<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>the best hostel in the word</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/sm-core-css.css.css}"/>
    <link rel="stylesheet" th:href="@{/css/sm-clean.css.css}"/>
    <link rel="stylesheet" th:href="@{/css/main1.css}"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}"/>
    <link rel="stylesheet" th:href="@{/css/help.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.smartmenus.min.js}"></script>
</head>


<body>
<header>
    <div class="container">
        <div class="row">
            <div class="three columns">
                <a href="home.html">
                    <img th:src="@{/images/img/hotel_1_1.png}" class="logo"/>
                </a>
                <p class="text">.com</p>
            </div>


            <div class="nine columns">
                <nav class="nav">
                    <div sec:authorize="!isAuthenticated()">
                        <a th:href="@{/loginForm}" th:text="#{login.button}"></a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}" th:text="#{logout.button}"></a>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <a th:href="@{/registration}" th:text="#{register.button}"></a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{/profile}" th:text="#{cabinet.button}"></a>
                    </div>


                    <a href="#" th:text="#{about}"></a>
                    <a class="current-page" th:href="@{/rooms}" th:text="#{room.button}"></a>
                    <a class="home" th:href="@{/}" th:text="#{main.page}"></a>
                </nav>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row ">
        <div class="twelve columns">

        </div>
    </div>
    <div class="row rooms">
        <div class="four columns">
            <p th:text="#{room.photo}"></p>
        </div>
        <div class="one columns">
            <p th:text="#{room.number}"></p>
        </div>
        <div class="one columns">
            <p th:text="#{room.sits}"></p>
        </div>
        <div class="one columns">
            <p th:text="#{room.class.message}"></p>
        </div>
        <div class="two columns">
            <p th:text="#{room.price}"></p>
        </div>
        <div class="three columns">
            <p th:text="#{create.room.parameters}"></p>
        </div>

    </div>


    <div th:each="room : ${rooms}">
        <div class="row rowdata">

            <div class="four columns imgd">
                <img class="img" th:src="@{/images/img1/1.jpg}" width="250" height="150"/>
            </div>
            <div class="one columns data">
                <p class="preinfo" th:text="#{room.number}"></p>
                <p th:text="${room.number}" class="info"/>
            </div>
            <div class="one columns data">
                <p class="preinfo" th:text="#{room.sits}"></p>
                <p th:text="${room.sits}" class="info"/>
            </div>
            <div class="one columns data">
                <p class="preinfo" th:text="#{room.class}"></p>
                <p th:text="${room.roomClass}" class="info"/>
            </div>
            <div class="two columns data">
                <p class="preinfo" th:text="#{room.price}"></p>
                <p th:text="${room.price}" class="info"/>
            </div>


            <div class="three columns data">
                <div th:each="description : ${room.descriptions}">
                    <p th:text="${description.description}" class="desc"/>
                </div>
                <p class="more"><a th:href="@{/rooms/{id}(id=${room.id})}" th:text="#{more.button}"></a></p>
            </div>


        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <p id="text">Foot</p>
            </div>
        </div>
    </div>
</footer>

</body>


</html>